<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT tonusContacts ANY>
<!ATTLIST tonusContacts id ID #REQUIRED>
<!ELEMENT tonusHomePage ANY>
<!ATTLIST tonusHomePage id ID #REQUIRED>
<!ELEMENT tonusInformation ANY>
<!ATTLIST tonusInformation id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <tonusHomePage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-09-25T10:48:05" updateDate="2014-10-03T14:27:22" nodeName="Начало" urlName="начало" path="-1,1068" isDoc="" nodeType="1056" creatorName="Kostadin Kostadinov" writerName="Kostadin Kostadinov" writerID="0" template="1051" nodeTypeAlias="tonusHomePage">
    <tonusInformation id="1081" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-09-25T11:35:04" updateDate="2014-10-03T14:21:21" nodeName="Дейност" urlName="дейност" path="-1,1068,1081" isDoc="" nodeType="1080" creatorName="Kostadin Kostadinov" writerName="Kostadin Kostadinov" writerID="0" template="1078" nodeTypeAlias="tonusInformation">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Дейност]]></title>
      <informationtitle><![CDATA[Info Title]]></informationtitle>
      <informationdescription><![CDATA[Some Description]]></informationdescription>
      <image><![CDATA[/media/1001/jellyfish.jpg]]></image>
    </tonusInformation>
    <tonusContacts id="1096" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2014-09-26T15:55:07" updateDate="2014-10-03T14:38:36" nodeName="Контакти" urlName="контакти" path="-1,1068,1096" isDoc="" nodeType="1093" creatorName="Kostadin Kostadinov" writerName="Kostadin Kostadinov" writerID="0" template="1092" nodeTypeAlias="tonusContacts">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Контакти]]></title>
      <contactsinformation><![CDATA[<p>asdasd</p>
<p> </p>
<p><strong>Email: <em>asdasdasd@adasd.aasdasd</em></strong></p>
<p> </p>
<p><strong>Phone Number: <em>08428342394234</em></strong></p>]]></contactsinformation>
      <maplocation><![CDATA[51.04580395989415,3.4511774015136325]]></maplocation>
    </tonusContacts>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Начало]]></title>
    <information><![CDATA[<p><strong>Lorem ipsum dolor sit amet, vel dicant ubique aperiri te, quo nominati adversarium suscipiantur et. Et eirmod pericula philosophia mel, cu hinc primis dolorum pri. An possit posidonium mea, quo tacimates iudicabit ne, est et elitr suavitate gloriatur. Putent putant ex eum.</strong></p>
<p><em>Ut soluta equidem has. Ex vix case habeo deseruisse, dicat labitur ex eum. Nec ad vidisse iracundia, ei vim propriae aliquando consequuntur. Eu has corpora urbanitas suscipiantur, ad equidem comprehensam duo.</em></p>
<p>Id eam saepe voluptua, eu eirmod tincidunt sed, eu homero probatus referrentur mei. Adhuc solum justo vim ad, eum mucius audire incorrupte ei. Per esse soluta in. Reque doctus neglegentur ut ius, an tale eleifend cotidieque mel. Ne affert apeirian mandamus sea.</p>
<p>Et enim mollis sed, mei in laudem ubique adipisci, mea decore sanctus eu. Nec ut nulla paulo, ridens constituto honestatis in eum, in qui paulo affert minimum. Paulo munere persecuti at vix, sententiae interpretaris ad nam. Qui dicit blandit ex. An pri quem electram, in alia mundi nihil duo.</p>
<p>Facer <strong>dicant</strong> insolens id sea, vis iudico noluisse te, te nam option vituperatoribus. No tritani nostrum eos. No qui partem ignota periculis. Ex vel alia justo appareat. No harum tincidunt est.</p>]]></information>
    <gallery><![CDATA[1082,1083,1089,1088,1086,1087,1084]]></gallery>
    <siteName><![CDATA[ТОНУС]]></siteName>
    <copyright><![CDATA[K.K.]]></copyright>
  </tonusHomePage>
</root>